@media screen and (min-width: 1600px) {
    body {
        font-size: 18px;
    }

    .container {
        max-width: 1500px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .list-inline-item:not(:last-child) {
        margin-right: 2.5rem;
    }

    footer {
        padding: 20px 0;
    }

    .Copyright,
    footer .list-inline-item a {
        font-size: 16px;
    }

    .qp-h-latestnews-content .post-content h5 {
        font-size: 29px;
    }

    .qp-h-recentnews-content a {
        font-size: 18px;
    }

    .qp-h-recentnews-content {
        margin: 30px 0;
    }
}

@media screen and (max-width: 768px) {
    .news-popup-image-content h1 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1400px) {
    .news-slider-image-content h1 {
        font-size: 1rem;
    }
}

/* XL */
@media screen and (max-width: 1599px) and (min-width: 1200px) {
    div#qp-gal-img>div {
        height: 330px;
    }
}

/* LG */
@media screen and (max-width: 1199px) and (min-width: 992px) {
    div#qp-gal-img>div {
        height: 393px;
    }
}

/* MD */
@media screen and (max-width: 991px) and (min-width: 768px) {
    div#qp-gal-img>div {
        height: 320px;
    }
}

/* SM */
@media screen and (max-width: 767px) and (min-width: 576px) {
    div#qp-gal-img>div {
        height: 390px;
    }
}

/********** Faq Page ***********/

@media screen and (max-width:992px){
    .faq-how{
        font-size: 3.0rem;
    }
    .inputWithIcon>input[type="text"] {
        font-size: 2.7rem;
    }
    .inputWithIcon>i.fa.fa-search.fa-lg.fa-fw{
        font-size: 2.7rem;
    }
    .i-up{
        /*padding: 2%;*/
        margin-top: 0;
        margin-left: 2%;
    }
    .nav-panes{
        border-top: 125px solid transparent;
    }
    .sec-bg-login {
        padding: 0px 0 120px;
    }
    .sec-register{
        padding: 0px 0 50px;
    }
}
@media screen and (max-width:750px){
    .border-a{
        width: 50% !important;
    }
    .login-h3{
        line-height: 1.2;
    }
}
@media screen and (max-width:576px){
    .faq-how{
        font-size: 2.3rem;
    }
    .inputWithIcon>input[type="text"] {
        font-size: 2.0rem;
    }
    .inputWithIcon>i.fa.fa-search.fa-lg.fa-fw{
        font-size: 2.0rem;
    }
    .nav-panes>h2{
        font-size: 1.8rem;
    }
    .i-up{
        margin-left: 4%;
    }
    .border-a{
        width: 70% !important;
    }
    .search-border{
        margin: 0 1.5rem!important;
    }
    p{
        text-align: justify;
    }
}
@media screen and (max-width:350px){
    
    .nav-panes {
        border-top: 160px solid transparent;
        margin-top: -155px;
    }
    .border-a{
        width: 82% !important;
    }
    #v-pills-tab>li.active>a>.side-head{
        padding-bottom: 0;
    }
    .login-h3{
        font-size: 27px;
    }
}

/********** Faq page ***********/
/* XS */
@media screen and (max-width: 575px) {
    div#qp-gal-img>div {
        height: 365px;
    }
}
