@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 41%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    color: #003c71;
    border: none;
    outline: none;
    z-index: 1;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: #003c71;
    outline: none;
}

.slick-prev:hover{
    background: #159f5c url(../img/left-arrow.png) center no-repeat;
}

.slick-next:hover{
    background: #159f5c url(../img/right-arrow.png) center no-repeat;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 24%;
    background: #71cc98 url(../img/left-arrow.png) center no-repeat;
}
[dir='rtl'] .slick-prev
{
    right: 24%;
    left: auto;
}
.slick-prev:before
{
    background: #71cc98 url(../img/left-arrow.png) center no-repeat;
}
[dir='rtl'] .slick-prev:before
{
    background: #71cc98 url(../img/right-arrow.png) center no-repeat;
}

.slick-next
{
    right: 24%;
    background: #71cc98 url(../img/right-arrow.png) center no-repeat;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    background: #71cc98 url(../img/right-arrow.png) center no-repeat;
}
[dir='rtl'] .slick-next:before
{
    background: #71cc98 url(../img/left-arrow.png) center no-repeat;
}

.slider .slick-prev
{
    left: -1%;
    background: #71cc98 url(../img/left-arrow.png) center no-repeat;
}
[dir='rtl'] .slider .slick-prev
{
    right: 0%;
    left: auto;
}
.slider .slick-prev:before
{
    background: #71cc98 url(../img/left-arrow.png) center no-repeat;
}
[dir='rtl'] .slider .slick-prev:before
{
    background: #71cc98 url(../img/right-arrow.png) center no-repeat;
}

.slider .slick-next
{
    right: -1%;
    background: #71cc98 url(../img/right-arrow.png) center no-repeat;
}
[dir='rtl'] .slider .slick-next
{
    right: auto;
    left: -5px;
}
.slider .slick-next:before
{
    background: #71cc98 url(../img/right-arrow.png) center no-repeat;
}
[dir='rtl'] .slider .slick-next:before
{
    background: #71cc98 url(../img/left-arrow.png) center no-repeat;
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.slider .slick-dots{
    top: -59px;
    width: auto;
    right: 0;
    font-weight: 600;
    text-align: center;
}
.slider .slick-dots li{
    color: #657786 !important;
    margin: 0 10px;
}
.slider .slick-dots a{
    color: #657786 !important;
    padding: 0 10px;
}
.slider .slick-dots a:hover{
    cursor: pointer;
    color: #003C71;
    border-bottom: 3px solid #71CC98;
}
.slider .slick-dots .active{
    border-bottom: 3px solid #71CC98 !important;
}
